
Checkpoint/Orléans West-Innes_to_be_checked.csv
Checkpoint/Orléans West-Innes_to_be_checked.csv
Addresses/Processed/Addresses_05 West Carleton-March.csv
Addresses/Raw/Addresses_01 Orléans East-Cumberland.csv
Addresses/Raw/Addresses_02 Orléans West-Innes.csv
Addresses/Raw/Addresses_03 Barrhaven West.csv
Addresses/Raw/Addresses_04 Kanata North.csv
Addresses/Raw/Addresses_05 West Carleton-March.csv
Addresses/Raw/Addresses_06 Stittsville.csv
Addresses/Raw/Addresses_07 Bay.csv
Addresses/Raw/Addresses_08 College.csv
Addresses/Raw/Addresses_09 Knoxdale-Merivale.csv
Addresses/Raw/Addresses_10 Gloucester-Southgate.csv
Addresses/Raw/Addresses_11 Beacon Hill-Cyrville.csv
Addresses/Raw/Addresses_12 Rideau-Vanier.csv
Addresses/Raw/Addresses_13 Rideau-Rockcliffe.csv
Addresses/Raw/Addresses_14 Somerset.csv
Addresses/Raw/Addresses_15 Kitchissippi.csv
Addresses/Raw/Addresses_16 River.csv
Addresses/Raw/Addresses_17 Capital.csv
Addresses/Raw/Addresses_18 Alta_Vista.csv
Addresses/Raw/Addresses_19 Orléans South-Navan.csv
Addresses/Raw/Addresses_20 Osgoode.csv
Addresses/Raw/Addresses_21 Rideau-Jock.csv
Addresses/Raw/Addresses_22 Riverside South-Findlay Creek.csv
Addresses/Raw/Addresses_23 Kanata South.csv
Addresses/Raw/Addresses_24 Barrhaven East.csv
Addresses/Test_Holland and Parkdale.csv
Addresses/Test_Holland and Parkdale.qmd
Checkpoint/01 Orléans East-Cumberland_to_be_checked.csv
Checkpoint/03 Barrhaven West_to_be_checked.csv
Checkpoint/04 Kanata North_to_be_checked.csv
Checkpoint/05 West Carleton-March_to_be_checked.csv
Checkpoint/08 College_to_be_checked.json
Checkpoint/09 Knoxdale-Merivale_to_be_checked.csv
Checkpoint/14 Somerset_to_be_checked.csv
Checkpoint/15 Kitchissippi_to_be_checked.csv
Checkpoint/17 Capital_to_be_checked copy 20250116.csv
Checkpoint/17 Capital_to_be_checked.csv
Checkpoint/Test_to_be_checked.csv
Maps/College Ward_incl No Data.pdf
Maps/College Ward_with townhomes etc.png
Maps/College Ward_with townhouses etc.pdf
/Output/Assessment Roll Raw
/Output/Parcels
/Output/Points
Output/json/17 Capital.json
Output/json/17 Capital copy 20250116.json
Output/json/15 Kitchissippi.json
Output/json/14 Somerset.json
Output/json/09 Knoxdale-Merivale.json
Output/json/08 College.json
Output/json/08 College - by parcel.json
Output/json/08 College - by address.json
Output/TaxRoll csv/Reformatted_College - by address.json
Output/TaxRoll csv/Reformatted_College - by parcel.json
Output/TaxRoll csv/Reformatted_College.json
Output/TaxRoll csv/TaxRoll_College - by address.csv
Output/TaxRoll csv/TaxRoll_College - by parcel.csv
Output/TaxRoll csv/TaxRoll_College copy.csv
Output/TaxRoll csv/TaxRoll_College.csv
Output/TaxRoll csv/TaxRoll_Knoxdale-Merivale.csv
Output/TaxRoll csv/TaxRoll_Somerset.csv
/Parcels
/QGIS/Tiles
Output/json/01 Orléans East-Cumberland.json
Output/json/02 Orléans West-Innes.json
Output/json/03 Barrhaven West.json
Output/json/04 Kanata North.json
Output/json/05 West Carleton-March.json
QGIS/Models/Join Tax Roll - Address List - Parcel - COLLEGE.model3
QGIS/College.gpkg
QGIS/College_HecVal_GT20K.gpkg
QGIS/Municiple Address Points.gpkg
QGIS/ODF_ASSESS.model3
QGIS/Ottawa Parcel.gpkg
QGIS/Parcel Points.gpkg
QGIS/Parcel_Alta Vista.gpkg
QGIS/Parcel_Barrhaven East.gpkg
QGIS/Parcel_Barrhaven West.gpkg
QGIS/Parcel_Bay.gpkg
QGIS/Parcel_Beacon Hill-Cyrville.gpkg
QGIS/Parcel_Capital.gpkg
QGIS/Parcel_College.gpkg
QGIS/Parcel_Gloucester-Southgate.gpkg
QGIS/Parcel_Kanata North.gpkg
QGIS/Parcel_Kanata South.gpkg
QGIS/Parcel_Kitchissippi.gpkg
QGIS/Parcel_Knoxdale-Merivale.gpkg
QGIS/Parcel_Orleans East-Cumberland - Becketts Creek.gpkg
QGIS/Parcel_Orleans East-Cumberland.gpkg
QGIS/Parcel_Orleans South-Navan.gpkg
QGIS/Parcel_Orleans West-Innes.gpkg
QGIS/Parcel_Osgood.gpkg
QGIS/Parcel_Rideau-Jock.gpkg
QGIS/Parcel_Rideau-Rockliffe.gpkg
QGIS/Parcel_Rideau-Vanier.gpkg
QGIS/Parcel_River.gpkg
QGIS/Parcel_Riverside South-Findlay Creek.gpkg
QGIS/Parcel_Somerset.gpkg
QGIS/Parcel_Stittsville.gpkg
QGIS/Parcel_West Carleton-March.gpkg
module_proxies.py
smartproxy.py
TaxLookup - roll number.py
testproxy.py
UserAgents.txt
QGIS/Styles/Zoning.qml
QGIS/Styles/neighbourhood_points.sld
__pycache__/module_proxies.cpython-312.pyc
__pycache__/proxies.cpython-312.pyc
__pycache__/smartproxy.cpython-312.pyc
__pycache__/table_extract.cpython-311.pyc
__pycache__/table_extract.cpython-312.pyc
/Checkpoint/_archive 2025-01-21
/Output/json/_archive 2025-01-21
/Output/TaxRoll csv/_archive 20205-01-21
/Addresses/Raw/_Archive 2025-01-21
/QGIS/Parcel2
/QGIS/Ward Polygon
Addresses/Raw/Addresses_18 Alta Vista.csv
