/QGIS/Parcel
/Checkpoint
/Output/json/archive 2025-01-29
/Addresses
QGIS/Addressess/Municiple Address Points.gpkg
QGIS/Addressess/revenue_by_address.gpkg
Output/scientific notation cleanup.txt
/QGIS/Ward Polygon
QGIS/Addressess/Municiple Address Points - with parcel area.gpkg
/QGIS/Dissemination Area
.Rproj.user
City of Ottawa Open Data/Taxes_by_Ward_2022-2024.csv
Output/TaxRoll csv/TaxRoll_18 Alta Vista2.csv
/QGIS/3D images
/QGIS/Revenue by parcel - for webmap/buffered
/QGIS/Revenue by parcel - for webmap
/Output/TaxRoll csv
/QGIS/Maps
/Output/TaxRoll csv
/Output/json
/City of Ottawa Open Data
/FOI Request
/GTFS
*.png
Ward9TopMunRev.csv
Ward9TopAssedVal.csv
Ward9Top10RevbyHa.csv
/Output
/QGIS/MapTiles
/QGIS/City Areas
/Output/TaxRoll csv
/Output/TaxRoll csv
/QGIS/Transcect Area
.RDataTmp
.RDataTmp1
.RDataTmp2
.RDataTmp3
.RDataTmp1
.RDataTmp2
.RDataTmp4
.RDataTmp6
.RDataTmp5
.RDataTmp2
.RDataTmp1
/Addresses
QGIS/Models/Extract Addresses by Ward.json
QGIS/Models/Extract Addresses by Ward.json
QGIS/Models/Points to Parcels.json
QGIS/Models/Points to Parcels.json
/QGIS/Wards
